
html {
    height: 100%;
    scroll-behavior: smooth;
      
}
body{ 
    margin: 0;
    padding: 0;
    height: 100%;
}
.p10 { 
    padding: 3rem
}

.m1 {
    margin-left: 1rem;
}
.p1 {
    padding: 1rem;
}
.description {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9000000
}
.smallerSubtitle {
    font-size: 1rem;
}

.dog {
    transform: rotateY(180deg);
    animation: dogRun 5s infinite;
}

.w100 {
    width: 100%;
    position: relative;
}

.wh100 {
    width: 100%;
    height: 100%;
}

.lightOpacity {
    opacity: .7;
    background-color: black; 
}

.springContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    background-color: black; 
    text-align:center;
}


.hoverCard {
    display:flex;
    flex-direction: column;
    align-items: center;
     
}

.w90 {
    width: 90%;
}

.w10 {
    width: 10%;
}

.rotateLogo {
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}
.side-drawer { 
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
 }
 .side-drawer.open {
    transform: translateX(0);
 }

 .flexImportant {
     display:flex !important;
 }
 .card:hover {
     transform: scale(1.05);
     transition: 0.2s;
     transition-timing-function: ease-in;
     cursor: pointer;
 }

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    top: 0;
    right: 0;
  }

  .fullW {
      width: 100%;
      border-bottom: .5px solid lightslategrey;
      padding: 10px;
  }

  .fullW:hover {
      opacity: .7;
      background-color: lightgrey;
  }

  .shiftTop { 
      position: relative;
      top: -2.5rem;
      box-shadow:0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px lightgray;
  }
  .transparent {
      background-color: transparent;
  }
  .transparent:hover {
      background-color: white;
  }

  .navTransparent {
      background-color: transparent;
      position: absolute;
      width: 100vw;

  }
@keyframes dogRun {
    0% {
        left: 0;
    }

    100% {
        left: calc(100% - 60px); 
    }
}

@keyframes openModal {
    0%{ width: 0% }
    100% { width: 50% } 
}

@keyframes closeModal {
    0% { width: 50% }
    50% { width: 25% }
    100% { width: 0% }
}


@media screen and (min-width: 1441px) and (max-width:2559px) {
    .p10 {
        padding: 10rem;
    }
    .p1 {
        padding: 5rem;
    }
    .m1 {
        margin-left: 10rem;
    }
    h1 {
        font-size: 3rem !important;
    }
    h2 {
        font-size: 2rem !important;
    }
}

@media screen and (min-width: 2560px) and (max-width: 5000px) {

    .p10 {
        padding: 35rem;

    }

    .p6 {
        padding: 1rem;
    }
    .m1 {
        margin-left: 15rem;
    }
    .p1 {
        padding: 10rem;
    }
    h1 {
        font-size: 4rem !important;
    }
    h2 {
        font-size: 3rem !important;
    }

    .iS {
        width: 200px;
        height: 200px;
    }

}

@media screen and (min-width: 5001px) and (max-width: 10000px) {
    .p10 {
        padding: 50rem;
    }
    .p1 {
        padding: 40rem;
    }

    .m1 {
        margin-left: 50rem;
    }
    h1 {
        font-size: 3rem !important;
    }
    h2 {
        font-size: 7rem !important;
    }

    .iS {
        width: 256px;
        height: 256px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .p10 {
        padding: 10rem;
    }
    .p1 {
        padding: 5rem;
    }
}