
html {
    height: 100%
}
body{ 
    margin: 0;
    padding: 0;
    height: 100%;
}
.p10 { 
    padding: 3rem
}

.dog {
    transform: rotateY(180deg);
    animation: dogRun 5s infinite;
    /* animation-duration: 5s; */
}

.w100 {
    width: 100%;
    position: relative;
}

.w90 {
    width: 90%;
}

.w10 {
    width: 10%;
}

.rotateLogo {
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

.sideDrawer {
    width: 50%;
    height:100vh; 
    /* animation-name: openModal;
    animation-duration: .2s;
    animation-fill-mode: forwards; */
    transform: translateX(500px);
    transition: transform .5s ease-out;
    

}

.open {
    transform: translateX(0px);
    /* width: 0%;
    animation-name: closeModal;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    transition: 1s ease-in; */
}
@keyframes dogRun {
    0% {
        left: 0;
    }

    100% {
        left: calc(100% - 60px); 
    }
}

@keyframes openModal {
    0%{ width: 0% }
    100% { width: 50% } 
}

@keyframes closeModal {
    0% { width: 50% }
    50% { width: 25% }
    100% { width: 0% }
}




@media screen and (min-width: 426px) and (max-width:1023px) {
    .p10 {
        padding: 6rem
    }
}